/*###############
### HOME PAGE ###
###############*/

.home-container h1 {
  text-align: center;
}

/* .home-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks {
  max-width: 1000px;
} */

.tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tasks ul {
  max-width: 1000px;
}

/*------------------------------------------------------*/

/*###################
#### RESPONSIVE #####
###################*/

@media (max-width: 450px) {
  .home-container h1 {
    line-height: 1;
  }
}
