/*############
### FOOTER ###
############*/

.app > footer {
  display: grid;
  place-content: center;
  padding: 1rem;
  background-color: var(--marron);
}

.app > footer > p {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--negro);
  font-family: 'Shantell Sans', sans-serif;
}

/*------------------------------------------------------*/

/*###################
#### RESPONSIVE #####
###################*/

@media (max-width: 700px) {
  .app > footer > p {
    font-size: 1rem;
  }
}
