#root {
  max-width: 2050px;
  height: 100%;
}

html,
body {
  margin: 0 auto;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%; /* Esto garantiza que ocupe toda la altura */
}

main {
  padding: 2rem;
  flex: 1;
  background-color: var(--amarillo);
}
